---
title: About
layout: default
---
{% include header.html %}
<div
	class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}"
	data-theme="{{ site.theme-color }}">
	<h2>关于我</h2>
</div>


<main class="tags-content" style="margin-top: 0px">
	<ul class="tags-list" style="list-style-type: none;padding: 40px;">
		<h1 style="text-align: center;">COOKINNE</h1>
		<br />
		<p style="text-align: center;">大连民族大学2016级本科生。</p>
		<br />
		<p style="text-align: center;">2019.07-2019.11 知道创宇深澜实验室实习生</p>
		<br />
		<p style="text-align: center;">2019.11-2020.06 HB实习生</p>
		<br />
		<p style="text-align: center;">2020.06-2022.12 HB员工</p>
		<br />
		<p style="text-align: center;">2022.12-now 创业中</p>
		<br />
		<h2 align="center">联系方式</h2>
		<br />
		<p style="text-align: center;">Github：<a target="_blank" href="https://github.com/Cookinne"
				style="color:#5bbd72;">Cookinne</a></p>
		<br />
		<p style="text-align: center;">E-mail：<a target="_blank" href="mailto:jinghh4@gmail.com"
				style="color:#5bbd72;">Aliyun邮箱</a>&nbsp;&nbsp;<a target="_blank" href="mailto:jinghh4@gmail.com"
				style="color:#5bbd72;">Google邮箱</a></p>
		<br />
	</ul>

</main>

{% include footer.html %}